html, body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 885px) {
  .brk {
    display: grid;
    grid-template-columns: 8% 17.3% 9% 17.3% 6% 17.3% 6% 17.3% 6%;
  }
}
